@model TestIdentity.Identity.ViewModels.ClientDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.ClientId</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ClientId)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ClientId)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ProtocolType)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ProtocolType)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.RequireClientSecret)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.RequireClientSecret)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ClientName)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ClientName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ClientUri)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ClientUri)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.LogoUri)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.LogoUri)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.RequireConsent)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.RequireConsent)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AllowRememberConsent)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AllowRememberConsent)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.RequirePkce)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.RequirePkce)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AllowPlainTextPkce)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AllowPlainTextPkce)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.RequireRequestObject)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.RequireRequestObject)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AllowAccessTokensViaBrowser)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AllowAccessTokensViaBrowser)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FrontChannelLogoutUri)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FrontChannelLogoutUri)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FrontChannelLogoutSessionRequired)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FrontChannelLogoutSessionRequired)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.BackChannelLogoutUri)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.BackChannelLogoutUri)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.BackChannelLogoutSessionRequired)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.BackChannelLogoutSessionRequired)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AllowOfflineAccess)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AllowOfflineAccess)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AlwaysIncludeUserClaimsInIdToken)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AlwaysIncludeUserClaimsInIdToken)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.IdentityTokenLifetime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.IdentityTokenLifetime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AccessTokenLifetime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AccessTokenLifetime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AuthorizationCodeLifetime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AuthorizationCodeLifetime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AbsoluteRefreshTokenLifetime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AbsoluteRefreshTokenLifetime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.SlidingRefreshTokenLifetime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.SlidingRefreshTokenLifetime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ConsentLifetime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ConsentLifetime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.RefreshTokenUsage)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.RefreshTokenUsage)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.UpdateAccessTokenClaimsOnRefresh)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UpdateAccessTokenClaimsOnRefresh)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.RefreshTokenExpiration)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.RefreshTokenExpiration)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AccessTokenType)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AccessTokenType)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.EnableLocalLogin)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.EnableLocalLogin)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.IncludeJwtId)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.IncludeJwtId)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.AlwaysSendClientClaims)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.AlwaysSendClientClaims)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.ClientClaimsPrefix)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.ClientClaimsPrefix)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.PairWiseSubjectSalt)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.PairWiseSubjectSalt)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.UserSsoLifetime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UserSsoLifetime)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.UserCodeType)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.UserCodeType)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DeviceCodeLifetime)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DeviceCodeLifetime)
        </dd>
    </dl>
</div>

