@model IdentityResourcesViewModel

@{
    ViewData["Title"] = Model.ControllerName;
}
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="navbar-brand">@Model.ControllerName</div>

         <a class="btn btn-outline-secondary my-2 my-sm-0 mr-sm-2" asp-action="CreateStart"
               asp-route-returnUrl="@Model.QueryString">Create New</a>

        <form class="form-inline mt-2 mt-md-0" method="get"
              asp-controller=@Model.ControllerName
              asp-route-page=@Model.Page
              asp-route-count=@Model.ItemsPerPage>
            <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Search" name="search" value=@Model.Search>
            <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="submit">Искать</button>
        </form>
        <a class="btn btn-outline-secondary my-2 my-sm-0 mr-sm-2"
           asp-controller=@Model.ControllerName
           asp-route-page=@Model.Page
           asp-route-count=@Model.ItemsPerPage>X</a>
    </nav>
    <div>
        <label class="bg-warning">@TempData.GetStringOrEmpty(IdentityServerAspNetIdentity.Core.KeyWord.KEY_TEMPDATA_INFO)</label>
    </div>
    

    <table class="table-sm table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    DisplayName
                </th>
                <th>
                    Description
                </th>
                <th>
                    Enabled
                </th>
                <th>
                    Emphasize
                </th>
                <th>
                    Required
                </th>
                <th>
                    ShowInDiscoveryDocument
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @await Component.InvokeAsync(nameof(IdentityServerAspNetIdentity.ViewComponents.DropDownAction)
                       , new { controller = Model.ControllerName, routedata = new { id = item.Id }, returnurl = Model.QueryString })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DisplayName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Enabled)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Emphasize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Required)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ShowInDiscoveryDocument)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @await Component.InvokeAsync(nameof(IdentityServerAspNetIdentity.ViewComponents.Pager)
      , new
      {
          Model.ControllerName
      ,
          page = Model.Page
      ,
          itemsperpage = Model.ItemsPerPage
      ,
          totalCount = Model.TotalCount
      ,
          search = Model.Search
      ,
          tag = Model.Tag
      })
</div>

