@model IdentityServerAspNetIdentity.ViewModels.UserClaimsViewModel

@{
    ViewData["Title"] = $"Claims by: {Model.Informations.GetStringOrEmpty("UserName")}";
}

<h2>@Model.Informations.GetStringOrEmpty("UserName")</h2>
<br />
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand">@Model.ControllerName</div>

    <a class="btn btn-outline-secondary my-2 my-sm-0 mr-sm-2" asp-action="CreateStart"
       asp-route-returnUrl="@Model.QueryString">Create New</a>

    <form class="form-inline mt-2 mt-md-0" method="get"
          asp-controller=@Model.ControllerName
          asp-route-page=@Model.Page
          asp-route-count=@Model.ItemsPerPage>
        <input class="form-control mr-sm-2" type="text" placeholder="Поиск" aria-label="Search" name="search" value=@Model.Search>
        <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="submit">Искать</button>
    </form>
    <a class="btn btn-outline-secondary my-2 my-sm-0 mr-sm-2"
       asp-controller=@Model.ControllerName
       asp-route-page=@Model.Page
       asp-route-count=@Model.ItemsPerPage>X</a>
</nav>
<div>
    <label class="bg-warning">@TempData.GetStringOrEmpty(IdentityServerAspNetIdentity.Core.KeyWord.KEY_TEMPDATA_INFO)</label>
</div>
<div>
    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>
                    Type
                </th>
                <th>
                    Value
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" type="button" asp-action="Edit"
                                       asp-route-userid=@item?.UserId
                                       asp-route-type=@item?.Type
                                       asp-route-value=@item?.Value
                                       asp-route-returnurl=@Model.QueryString>
                                        Edit
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" type="button"
                                       asp-action="Delete"
                                       asp-route-userid=@item?.UserId
                                       asp-route-type=@item?.Type
                                       asp-route-value=@item?.Value
                                       asp-route-returnurl=@Model.QueryString>
                                        Delete
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@await Component.InvokeAsync(nameof(IdentityServerAspNetIdentity.ViewComponents.Pager)
    , new
    {
        controller = $"Claims/{Model.Informations.GetStringOrEmpty("UserId")}"
    ,
        page = Model.Page
    ,
        itemsperpage = Model.ItemsPerPage
    ,
        totalCount = Model.TotalCount
    ,
        search = Model.Search
    ,
        tag = Model.Tag
    })